# Compiled class file
*.class
**/target
**/bin
**/build
**/out

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse files
*.project
*.classpath
**/.settings
plugin.xml_gen

# IntelliJ
**/.idea

# Gradle
**/.gradle

# Xtext generated sources
**/src-gen
**/src-test-gen
**/xtend-gen
**/model/generated/

# Misc
**/SABA-VisualisierungenFinal

