<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.emf.mwe2.launch.Mwe2LaunchConfigurationType">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;resources&gt;&#10;&lt;item path=&quot;/io.mdsl.parent&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/io.mdsl&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/io.mdsl.ide&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/io.mdsl.ui&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/io.mdsl.target&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/io.mdsl.feature&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/io.mdsl.repository&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/io.mdsl.tests&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/io.mdsl.ui.tests&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/io.mdsl.tests&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/io.mdsl.ui.tests&quot; type=&quot;4&quot;/&gt;&#10;&lt;/resources&gt;}"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/io.mdsl"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17/"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.emf.mwe2.launch.runtime.Mwe2Launcher"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="io.mdsl"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="io.mdsl.GenerateAPIDescription"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="io.mdsl"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx512m"/>
</launchConfiguration>
